@font-face {
    font-display: fallback;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/ubuntu-v20-latin-regular.woff2") format("woff2");
}

:root {
    --background-color: #151515;
    --default-color: #a91d3a;
    --text-color: #eeeeee;
    --transition-time: 0.3s;

    font-family: "Ubuntu", sans-serif;
    color: var(--text-color);
}

body {
    background: var(--background-color);
}

.topBar {
    padding: 1em;
    border-bottom: 2px solid var(--default-color);
    box-shadow: 0 0 10px black;
}

.topBar_title {
    font-weight: bold;
}

.anchors {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.anchor {
    display: block;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 3px;
}

.anchor_logo {
    max-width: 2rem;
}

.accordion {
    border: 2px solid var(--default-color);
    border-radius: 10px;
}

.accordion,
.accordion * {
    transition: all var(--transition-time) ease-in-out;
}

.accordion_head {
    color: var(--default-color);

    &:hover > * {
        filter: brightness(150%);
    }
}

.accordion_bodyWrapper {
    height: 0;
}

.accordion_body {
    padding: 1rem;
    background: var(--background-color);
    border-radius: 10px;
}

.accordion.-toggled {
    background: var(--default-color);

    .accordion_head {
        color: var(--text-color);
    }

    .accordion_icon {
        rotate: 180deg;
    }
}

.bottomBar {
    padding: 1rem;
    border-top: 2px solid var(--default-color);
    box-shadow: 0 0 10px black;
}
