@font-face {
    font-display: fallback;
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/DejaVuSans.ttf") format("truetype");
}

:root {
    font-family: "DejaVu Sans", sans-serif;

    /* Colors */
    --lightblue: #9691d3;
    --darkblue: #282359;
    --lightgray: #9693a7;
    --darkgray: #201d38;

    /* Gradients */
    --knob-rim-gradient: linear-gradient(135deg, var(--darkblue) 30%, var(--lightblue) 90%);
    --knob-gradient: conic-gradient(from 45deg, white, var(--darkgray), white, var(--lightgray), white);
    --convex-gradient: radial-gradient(ellipse 60% 200% at 20% 210%, var(--darkblue), transparent),
        radial-gradient(ellipse 60% 200% at 80% -110%, var(--lightblue), transparent),
        linear-gradient(to bottom right, var(--lightblue), var(--darkblue) 70%);
    --concave-gradient: radial-gradient(ellipse 60% 200% at 20% 210%, var(--lightblue), transparent),
        radial-gradient(ellipse 60% 200% at 80% -110%, var(--darkblue), transparent),
        linear-gradient(to top left, var(--lightblue), var(--darkblue) 70%);
}

body {
    background: #57809e;
}

.wallpaper {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.wallpaper_logo {
    display: flex;
    align-items: flex-end;
    margin: 1rem .25rem;
    gap: .2em;

    color: #7aa2bf;
    font-size: 3rem;

    transform-origin: top right;
    transform: translateX(-100%) rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
}

.wallpaper_icon {
    width: 1.8em;
    height: 2em;
    background: currentColor;
    mask: url("assets/logos/java.svg") no-repeat 50% 50%;
    mask-size: contain;
}

.wallpaper_duke {
    width: 2rem;
    position: absolute;
    bottom: 4rem;
    right: 2rem;
}

.content {
    padding: 1rem 1rem 25vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.category {
    width: min(100%, 1000px);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.category_title {
    color: #eee;
    font-size: 1.4rem;
}

.category_entries {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.accordion {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.accordion,
.accordion * {
    transition: height .2s ease-in-out;
}

.accordion_head {
    padding: .25rem 1rem;
    background: var(--convex-gradient);
    border-radius: 1rem 1rem 0 0;
    border: solid 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    user-select: none;

    /* This pseudo-element is used to centralize the title */
    &::before {
        /* Same width as the dropdown icon */
        width: 1.7rem;
        display: block;
        content: "";
    }
}

.accordion_title {
    border: solid 1px #534d8b;
    border-radius: 100vw;
    background: transparent;
    background-clip: border-box;
    background-origin: border-box;

    color: #ddd;
    text-align: center;
    font-weight: normal;
    font-size: 1.25rem;
    text-overflow: ellipsis;

    flex: 1;
}

.accordion_icon {
    color: #ada7d7;
    width: 1.7rem;
    padding: .3rem;
    border: solid 2px currentColor;
    border-radius: 100vw;

    background: transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    svg {
        fill: currentColor;
    }
}

.accordion_body {
    background: white;
    border-width: 0 21px 21px 21px;
    border-image: url("assets/misc/solaris-window-border.png") 21 / 0 21px 21px repeat;
}

.accordion_body {
    padding: 1rem;
}

.accordion.-toggled {
    .accordion_title {
        background-image: var(--concave-gradient);
        border-color: transparent;
        text-shadow: 2px 2px 2px #222;
        color: white;
    }

    .accordion_icon {
        background-image: var(--knob-gradient), var(--knob-rim-gradient);
        border-color: transparent;
        color: black;

        svg {
            transform: rotate(45deg);
        }
    }
}

.system {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    user-select: none;
}

.menu {
    width: fit-content;
    padding: 1rem;
    background: #e6e6e6;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.menu.-hidden {
    display: none;
}

.taskbar {
    height: 2rem;
    background: #e6e6e6;

    display: flex;
    align-items: center;
    gap: .1rem;
}

.taskbar_start,
.taskbar_task {
    all: unset;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.taskbar_start {
    height: 100%;
    background: linear-gradient(#efb26f, #e88f29);
    color: white;
    font-weight: bold;
    letter-spacing: -1px;

    > * {
        filter: drop-shadow(.5px .5px 2px #444);
    }

    svg {
        width: .5rem;
        fill: currentColor;
        transform: rotate(180deg);
    }
}

.taskbar_time {
    font-size: .75rem;
    padding: 0 .75rem;
}

.taskbar_task {
    height: 80%;
    padding: 0 1rem 0 .5rem;
    background: linear-gradient(white, #cecece);
    border: solid 1px black;
    border-radius: 3px;
    font-size: .75rem;
}

.taskbar_task.-selected,
.taskbar_task:hover {
    background: #d0cde8;
}

.taskbar_icon {
    width: 1rem;
}
