---
import BaseLayout from "layouts/BaseLayout.astro";
// import SheetAnchor from "components/SheetAnchor.astro";
// import NoteList from "../components/NoteList.astro";
// import "styles/default.css";

const collections = ["java", "typescript"];
---

<BaseLayout title="Matt's Notes">
    <!--<div class="anchors">-->
    <!--    {collections.map(name => <SheetAnchor name={name} />)}-->
    <!--</div>-->
</BaseLayout>
