---
import type { CollectionEntry, ContentEntryMap } from "astro:content";
import Accordion from "./Accordion.astro";

interface Props {
    entries: CollectionEntry<keyof ContentEntryMap>[];
    style: string;
    title: string;
}

const { entries, style, title } = Astro.props;
const isCore = !title;

entries.sort((a, b) => a.data.position - b.data.position);
---

<section class="category">
    {!isCore && <h2 class="category_title">{title}</h2>}
    <div class="category_entries">
        {
            entries.map(async entry => {
                const title = entry.data.title;
                const { Content } = await entry.render();

                return (
                    <Accordion title={title} style={style} isCore={isCore}>
                        <Content />
                    </Accordion>
                );
            })
        }
    </div>
</section>
